<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <style>
        body {
            background-color: rgb(172, 172, 172);
            text-align: center;
        }
        h3 {
            color: rgb(20, 56, 88);
        }
    </style>
</head>
<body>
    <h3>Hello and Welcome to my Bog app.</h3>
</body>
</html>