<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail</title>
    <style>
      body {
        background-color: rgb(250, 237, 237);
        text-align: center;
      }
      .main {
        align-self: center;
        width: auto;
        background-color: rgb(131, 142, 206);
      }
      .main a {
        align-items: center;
      }
      .logo {
        width: 300px;
        height: 66px;
      }
      h3 {
        color: rgb(20, 56, 88);
      }
    </style>
  </head>
  <body>
    <div class="main">
      <a href="https://www.newput.com/" target="_blank"
        ><img
          src="https://images.squarespace-cdn.com/content/v1/5e7d2275a45efe4589055662/1585259469347-DMZSQ13KJ5JRZB57UN6O/newput_logo_hi_res.png"
          alt="newput_Logo"
          class="logo"
      /></a>
    </div>
    <div class="content">
      <h3>Welcome <%= name %> to Newput Infotech Pvt. Ltd.</h3>
    </div>
  </body>
</html>
